#myBtnContainer {
    background-color: #e0e6ec;
    padding: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#galleryHeading {
    font-size: 2.5rem;
}