* {
  font-family: 'Baloo Tamma 2', cursive;
}

body {
  background: linear-gradient(to bottom, #060064 0%, #035abb 38%, #04c5ed 100%);
  margin: 0;
  padding: 0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: indigo;
  color: white;
  cursor: pointer;
  padding: 11px 20px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: rgb(94, 0, 161);
}

/* Responsiveness  */

@media only screen and (max-width: 510px) {

  .subFooterElement {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {

  .navLinks:hover {
    cursor: pointer;
  }
}

@media only screen and (min-height: 1550px) {

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

}

/* PRE LOADER */
.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width: 100px;
  height: 100px;
}

.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite
}

.load :first-child {
  background: #19A68C;
  animation-delay: -1.5s
}

.load :nth-child(2) {
  background: #F63D3A;
  animation-delay: -1s
}

.load :nth-child(3) {
  background: #FDA543;
  animation-delay: -0.5s
}

.load :last-child {
  background: #193B48
}

@keyframes spin {

  0%,
  100% {
    transform: translate(0)
  }

  25% {
    transform: translate(160%)
  }

  50% {
    transform: translate(160%, 160%)
  }

  75% {
    transform: translate(0, 160%)
  }
}