* {
  font-family: 'Baloo Tamma 2', cursive;
}

body {
  background: linear-gradient(to bottom, #060064 0%, #035abb 38%, #04c5ed 100%);
  margin: 0;
  padding: 0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: indigo;
  color: white;
  cursor: pointer;
  padding: 11px 20px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: rgb(94, 0, 161);
}
/* Responsiveness  */

@media only screen and (max-width: 510px) {

  .subFooterElement {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
}

@media only screen and (max-width: 992px) {

  .navLinks:hover {
      cursor: pointer;
  }
}

@media only screen and (min-height: 1550px) {

  footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
  }

}

